.font-primary{
    font-family: "Lexend", sans-serif;
   }

.color-primary{
    background-color: rgb(249, 247, 243);;;
}

.color-secondary{
    background-color:rgb(255, 255, 255);;
}

.btn-color-primary{
    background-color: #B4F461;
}